# Comandos básicos do SQlite3
    link de post com tutorial <https://likegeeks.com/python-sqlite3-tutorial/>

In [1]:
import sqlite3
import pandas as pd

In [2]:
#Cria conexão 
conexao=sqlite3.connect('teste.db')

#cria objeto cursor
c=conexao.cursor()

In [ ]:
#criando tabela exemplo
c.execute('''
    CREATE TABLE exemplo (
    time date_time ,
    id INTEGER ,
    link TEXT NOT NULL,
    product_title TEXT NOT NULL,
    product_price DOUBLE NOT NULL,
    category TEXT NOT NULL,
    PRIMARY KEY (time, id)
    );
    ''')

#criando tabela stocks
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

In [16]:
# Inserindo linha de dados na tabela stocks
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

In [19]:
# Save (commit) the changes - necessário?
conexao.commit()

In [32]:
#exibe todas as tabelas do banco de dados
c.execute('SELECT name from sqlite_master where type= "table"')
c.fetchall()

In [23]:
# Exibe todos os registros da tabela stocks
# MÉTODO 1 - usando sqlite3
c.execute('SELECT * FROM stocks')
c.fetchall()

# MÉTODO 2 - USANDO PANDAS: CARREGA A TABELA EM UM DATAFRAME
df = pd.read_sql("select * from stocks", conexao)
df

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]